<h1>Listing stocks</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Name</th>
      <th>Title</th>
      <th>Author</th>
      <th>Code</th>
      <th>Resource</th>
      <th>Date</th>
      <th>SegWords</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.stock_id %></td>
        <td><%= stock.name %></td>
        <td><%= stock.title %></td>
        <td><%= stock.author %></td>
        <td><%= stock.code %></td>
        <td><%= stock.resource %></td>
        <td><%= stock.date %></td>
        <td><%= stock.seg_words %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
        <td><%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
<%= will_paginate @stocks %>

